CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
breakout
breakout.self
breakout.self.out
breakout.velf
breakout.vpk.out
breakout.vpk_param.sfo
_deps

